/TodoApiDTO/.vs/ProjectEvaluation
/TodoApiDTO/.vs/TodoApiDTO/DesignTimeBuild
/TodoApiDTO/.vs/TodoApiDTO/FileContentIndex
/TodoApiDTO/.vs/TodoApiDTO/config
/TodoApiDTO/.vs/TodoApiDTO/v17
/TodoApiDTO/bin/Debug/netcoreapp3.1
/TodoApiDTO/obj/Debug/netcoreapp3.1
/TodoApiDTO_Business.Tests/bin/Debug/netcoreapp3.1
/TodoApiDTO_Business.Tests/obj/Debug/netcoreapp3.1
/TodoApiDTO_Business.Tests/obj
/TodoApiDTO/obj
/TodoApiDTO_Business/bin/Debug/netcoreapp3.1
/TodoApiDTO_Business/obj/Debug/netcoreapp3.1
/TodoApiDTO_Business/obj
/TodoApiDTO_DataAccess/bin/Debug/netcoreapp3.1
/TodoApiDTO_DataAccess/obj
/TodoApiDTO_Models/bin/Debug/netcoreapp3.1
/TodoApiDTO_Models/obj/Debug/netcoreapp3.1
/TodoApiDTO_Models/obj
/.vs/ProjectEvaluation
/.vs/VelvetechTestTask/v17
/.vs/VelvetechTestTask/FileContentIndex
/.vs/VelvetechTestTask/DesignTimeBuild
/.vs/MyTestWebAPICore/v17
/.vs/MyTestWebAPICore/config
/TodoApiDTO/bin/Debug/net5.0
/TodoApiDTO_Business.Tests/bin/Debug/net5.0
/TodoApiDTO_Business/bin/Debug/net5.0
/TodoApiDTO_DataAccess/bin/Debug/net5.0
/TodoApiDTO_Models/bin/Debug/net5.0
